body {
}
.no-select {
    /* Disable text selection across supported browser engines. */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

